services:
  booking-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: meeting_room_api
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=.
      - PYTHONUNBUFFERED=1